@tailwind base;
@tailwind components;
@tailwind utilities;
/* 共通のCSS変数を定義 */
:root {
    --primary-blue: linear-gradient(to right, #4facfe, #00f2fe);
    --base-color:#EFF0F2;
    --header-padding: 10px 20px;
}